.header {
    margin-top: 20px;
    /* display: flex; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.header-brand {
    color: rgb(136, 136, 136);
    display: flex;
    align-self: flex-start;
}

.header-brand:hover {
    color: rgb(136, 136, 136);
}