html
    head
        include includes/head_links
        link(href='css/index.css', rel='stylesheet')
        title Main page
    body
        div.index__div Hello world
        script(src='js/index.js')
