html {
    min-height: 100vh;
}

.emails {
    /* max-width: 900px; */
    width: 60%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

.emails__header {
    margin-top: 10px;
    /* color: #a1a1a1; */
    font-size: 30px;
}

.emails__header_email {
    display: flex;
    flex: 1 1;
}

.emails__header_lastName {
    display: flex;
}

.emails__headers {
    margin-top: 30px;
    display: flex;
    width: 100%;
    color: #a1a1a1;
    padding: 10px;
}

.email__headers_empty {
    width: 20px;
}

.emails__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.emails__item {
    margin: 0px;
    display: flex;
    border: solid rgb(196, 196, 196) 1px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    min-height: 50px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    word-wrap: break-word;
}

.emails__item:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.emails__item_email {
    display: flex;
    flex: 1 1;
}

.emails__item_lastName {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emails__item_remove_button {
    padding: 0;
    margin: 0;
    background-image: url('./delete-button.png');
    background-position: center;
    background-size: 16px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    opacity: 50%;
}

.emails__item_remove_button:hover {
    opacity: 100%;
}

.emails__add_button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 50px;
}

.emails__no_items {
    color: #a1a1a1;
    margin-top: auto;
    margin-bottom: auto;
}

.prompt_message {
    width: 200px;
    position: absolute;
    margin-top: 70px;
    margin-right: 30px;
    top: 0px;
    right: 0px;
    z-index: 999999;
    word-wrap: break-word;
}

.prompt_message--above_modal {
    margin-top: 20px;
}
.header {
    margin-top: 20px;
    /* display: flex; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.header-brand {
    color: rgb(136, 136, 136);
    display: flex;
    align-self: flex-start;
}

.header-brand:hover {
    color: rgb(136, 136, 136);
}
.index__div {
    font-size: 40px;
    width: 100%;
    display: flex;
}

html {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #eeeeee;
}

.main_wrapper {
    display: flex;
    /* background: #eeeeee; */
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: flex-start;
}

.paging {
    margin-top: auto;
}

.emails__spam_modal {

}
