// Add email Modal
#messages__add_modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='emails__add_modal' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#addModalLabel.modal-title Add Message
                button.btn-close(type='button' data-dismiss='modal')
            .modal-body
                form
                .form-group
                    label.col-form-label(for='recipient-name') Name:
                    input.emails__add_modal__name.form-control(type='text')
                .form-group
                    label.col-form-label(for='message-text') Subject:
                    textarea.emails__add_modal__subject.form-control(type='text')
                .form-group
                    label.col-form-label(for='message-text') Text:
                    textarea.emails__add_modal__text.form-control(type='text')

            .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button.btn.btn-primary.emails__add_modal_button(type='button', onClick='addMessage()') Add Message
