ul(class="nav nav-pills mb-3 header" id="pills-tab" role="tablist")
    a(class="navbar-brand  header-brand" href="/") Spammer Manual
    li(class="nav-item")
        if active === "home"
            div(class="nav-link active" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true") Home
        else
            a(class="nav-link" id="pills-home-tab" data-toggle="pill" href="/" role="tab" aria-controls="pills-home" aria-selected="false" onclick="javascript: location.href = '/'") Home
    li(class="nav-item")
        if active === "messages"
            div(class="nav-link active" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="true") Messages
        else
            a(class="nav-link" id="pills-profile-tab" data-toggle="pill" href="/messages" role="tab" aria-controls="pills-profile" aria-selected="false" onclick="javascript: location.href = 'messages'") Messages