html
    head
        link(href='css/index.css', rel='stylesheet')
        link(rel='shortcut icon', href='flavicon.jpeg')
        title Main page
    body
        div.index__div Hello world
        script(src='js/index.js')
